html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
  overflow: visible !important;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.diagram_card {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 10px;
}

.diagram_delete_button {
  visibility: hidden;
  float: right;
  margin-top: 50%;
  transition: color 0.1s linear, transform 0.3s var(--bounceEasing);
}

.diagram_delete_button:hover {
  color: grey;
}

.diagram_card:hover .diagram_delete_button {
  visibility: visible;
  cursor: pointer;
  transform: translateX(-20%);
}

.edit_container {
  display: grid;
  height: 550px;
  width: 1000px;
  grid-template-columns: 20% 60% 20%;
  background-color: #585858;
}

.edit_container_left {
  display: grid;
  grid-template-rows: 10% 90%;
}

.edit_toolbar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: white;
}

.toolbar_button {
  cursor: pointer;
  height: 100%;
  padding-top: 15px;
  text-align:center;
}

.toolbar_button:hover {
  color: white;
  background-color: grey;
}

.edit_selection_bar {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  text-align: center;
  background-color: white;
}

.selection_bar_button {
  height: 100%;
  width: 100%;
  color: black;
  background-color: inherit;
}

.selection_bar_button:hover {
  height: 100%;
  width: 100%;
  color: white;
}

.selection_bar_button .material-icons {
  display: inline-flex;
  vertical-align: top;
}

.selection_bar_button > div {
    margin-top: 18px;
}
.edit_container_right {
  background-color: white;
  padding: 10px;
}

.edit_container_right .row {
  margin: 5px;
}

.edit_properties_bar {
  display: block;
  height: 100%;
}

.properties_control {
  border: solid;
  overflow: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  width: 100px;
  height: 50px;
  transform: translate(25%, 50%);
  text-align: center;
}

.properties_control_container {
  width: 150px;
  height: 100px;
  background-color: burlywood;
  position: relative;
}

.property_container {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.property_container > * {
  display: inline;
}

.color_picker {
  cursor: pointer;
  border: solid 1px;
}

.edit_container_center {
  position: relative;
}

.diagram_control_text {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.diagram_control {
  position: absolute;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: solid;
}

.resize_edge_tb {
  height: 1px !important;
  background-color: grey;
}

.resize_edge_lr {
  width: 1px !important;
  background-color: grey;
}

.resize_corner {
  height: 10px !important;
  width: 10px !important; 
  background-color:grey;
}