html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
  overflow: visible !important;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

#root {
  height: 100%;
}

.App {
  height: 100%
}

.diagram_card {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 10px;
}

.diagram_delete_button {
  visibility: hidden;
  float: right;
  margin-top: 50%;
  transition: color 0.1s linear, transform 0.3s var(--bounceEasing);
}

.diagram_delete_button:hover {
  color: grey;
}

.diagram_card:hover .diagram_delete_button {
  visibility: visible;
  cursor: pointer;
  transform: translateX(-20%);
}

.edit_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
  background-color: white;
}

.edit_container_left {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100%;
  background-color: white;
}

.edit_toolbar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: white;
}

.toolbar_button {
  cursor: pointer;
  height: 100%;
  padding-top: 15px;
  text-align:center;
}

.toolbar_button:hover {
  color: white;
  background-color: grey;
}

/* Left Panel */
.edit_selection_bar {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  text-align: center;
  background-color: white;
  height: 70%;
}

.selection_bar_button {
  height: 100%;
  width: 100%;
  color: black;
  background-color: inherit;
}

.selection_bar_button:hover {
  color: white;
}

.selection_bar_button .material-icons {
  display: inline-flex;
  vertical-align: top;
}

.selection_bar_button > div {
    margin-top: 18px;
}

/* Right Panel */
.edit_container_right {
  background-color: white;
  padding: 10px;
  height: 100%;
}

.edit_container_right .row {
  margin: 5px;
}

.edit_properties_bar {
  display: block;
}

.edit_diagram_dimensions {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-column-gap: 5px !important;
  position: relative;
}

.btn-mini {
  color: #FFF;
  text-align: center;
  background-color: #0008FF;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  line-height: 13px;
  padding: 5px;
  vertical-align: bottom;
  -webkit-tap-highlight-color: transparent;
  background-clip: padding-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 25px;
  width: 60px;
  cursor: pointer;
  }
  
.btn-mini:hover{
  background-color: #0064FF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

.properties_control {
  border: solid;
  overflow: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  width: 100px;
  height: 50px;
  transform: translate(25%, 50%);
  text-align: center;
}

.properties_control_container {
  width: 150px;
  height: 100px;
  background-color: burlywood;
  position: relative;
}

.property_container {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.property_container > * {
  display: inline;
}

.color_picker {
  cursor: pointer;
  border: solid 1px;
}

/* Middle Panel */
.edit_container_center {
  position: relative;
  overflow: scroll !important;
  overflow-y: scroll !important;
  height: 650px;
  width: 100%;
  border: solid 2px lightgray;
  background-color: lightgray;
  display: block;
}

.edit_controls_container {
  position: relative;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  background-color: lightgray;
  border: solid 2px black;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.diagram_control_text {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.diagram_control {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: solid;
}

.resize_edge_tb {
  height: 1px !important;
  background-color: grey;
}

.resize_edge_lr {
  width: 1px !important;
  background-color: grey;
}

.resize_corner {
  height: 10px !important;
  width: 10px !important; 
  background-color:grey;
}